<!-- contatooh/app/views/404.ejs -->

<!DOCTYPE html>
<html>

<head>
	<meta chartset="UTF-8">
	<meta name="viewport" content="width=device-width">

	<title>Contaooh : 404 - Página não Encontrada</title>

	<!-- build:css css/404.min.css -->
	<link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap-theme.css">
	<!-- endbuild -->
</head>

<body class="container">
	<div class="jumbotron"><h1>Página Não Encontrada!</h1></div>
	<h2 class="text-center"><a href="/">Voltar para a página principal</a></h2>
</body>

</html>